@font-face {
  font-family: "SF Pro Text";
  src: url("SF-Pro-Text-SemiBold.ttf");
}

:root {
  color: white;
  font-family: "SF Pro Text";
}

body {
  background-color: rgb(42, 42, 46);
  margin: 0;
  min-height: 100vh;
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "tl t tr"
  "l content r"
  "bl b br";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}

#main {
  grid-area: content;
  display: block;
}

#title {
  position: relative;
  width: 720px;
  height: 155px;
  margin: auto;
}

#title > h1 {
  display: inline;
  position: absolute;
  right: 0;
  margin: 0;
  font-size: 128px;
}

#title > img {
  position: absolute;
  left: 0;
  top: 12px;
}

@media only screen and (max-width: 960px) {

}

#time {
  position: relative;
  padding: 10px;
}

#clock {
  width: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 12px 1fr;

  font-size: 36px;
}
#hour {
  text-align: right;
}
#minute {
  text-align: left;
}

#date {
  width: 120px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 8px 1fr 8px 2fr;

  font-size: 18px;
}

#date > * {
  text-align: center;
}

#links {
  display: flex;
  width: 60vw;
  padding-top: 60px;
  margin: auto;

  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.linkbox {
  width: 150px;
  height: 150px;
  border-radius: 15px;

  color: white;
  text-decoration: none;
  background: rgb(56, 56, 61);
  overflow: hidden;

  transition: all .2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linkimg {
  width: 120px;
  height: 120px;
  border-radius: 10px;

  transition: all .2s ease-in-out;
}

.linkbox:hover {
  background-color: #4A4A4F;
  box-shadow: 0px 1px 12px 0px rgba(0,0,0,.3);
}
